<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SellerDAO">
	<sql id="allColumn">id,user_id,score,credibility,store_number</sql>

	<select id="getSeller" parameterType="long" resultType="seller">
		select
			<include refid="allColumn"/>
		from t_seller where id=#{id}
	</select>
	
	<insert id="insertSeller" parameterType="seller" 
									useGeneratedKeys="true" keyProperty="id">
		insert into t_seller values(null,#{userId},#{score},#{credibility},#{storeNumber})
	</insert>
	
	<update id="updateSeller" parameterType="seller">
		update t_seller
		<set>
			<if test="score!=null">
				score=#{score},
			</if>
			<if test="credibility!=null">
				credibility=#{credibility},
			</if>
			<if test="storeNumber!=null">
				store_number=#{storeNumber}
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteSeller" parameterType="seller">
		delete from t_seller where id=#{id}
	</delete>
	
</mapper>