<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDAO">
	<sql id="allColumn">id,phone_number,e_mail,pswd,account_number,nice_name,id_number,addresses,baobao,lv</sql>
	
	<select id="getUser" parameterType="long" resultType="publicpojos.User">
		select 
			<include refid="allColumn"/>
		from t_user where id=#{id}
	</select>
	
	<insert id="insertUser" parameterType="publicpojos.User" 
									useGeneratedKeys="true" keyProperty="id">
		insert into t_user values(null,#{phoneNumber},#{eMail},#{pswd},#{accountNumber},#{niceName},#{idNumber},#{addresses},#{baobao},#{lv})
	</insert>
	
	<update id="updateUser" parameterType="publicpojos.User">
		update t_user
		<set>
			<if test="phoneNumber!=null">
				phone_number=#{phoneNumber},
			</if>
			<if test="eMail!=null">
				e_mail=#{eMail},
			</if>
			<if test="pswd!=null">
				pswd=#{pswd},
			</if>
			<if test="niceName!=null">
				nice_name=#{niceName},
			</if>
			<if test="addresses!=null">
				addresses=#{addresses},
			</if>
			<if test="baobao!=null">
				baobao=#{baobao},
			</if>
			<if test="lv!=null">
				lv=#{lv},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteUser" parameterType="publicpojos.User">
		delete from t_user where id=#{id}
	</delete>
	
</mapper>