<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ChatDAO">
	<sql id="allColumn">id,user_id,target_userid,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,r11,r12</sql>
	
	<!-- 如果需要多行结果，放心把DAO返回改为List即可，
					mapper这里不用管返回类型 ！！！！！！！！-->
	<select id="getChat" resultType="publicpojos.Chat">
		select 
			<include refid="allColumn"/>
		from t_chat where user_id=#{userId} and target_userid=#{targetUserid}
	</select>
	
	<!-- 当update where的双方不存在时，或存在但该id记录已满时(r12!=null) -->
	<insert id="insertChat" parameterType="publicpojos.Chat" 
									useGeneratedKeys="true" keyProperty="id">
		insert into t_chat values(null,#{userId},#{targetUserid},#{r1},null,null,null,null,null,null,null,null,null,null,null)
	</insert>
	
	<update id="updateChat" parameterType="publicpojos.Chat">
		update t_chat<!-- 插入时双方确定且已有r1 -->
		<set><!-- test属性是参数对象字段，不是表里的字段！！！ -->
			<if test="r2!=null">
				r2=#{r2},
			</if>
			<if test="r3!=null">
				r3=#{r3},
			</if>
			<if test="r4!=null">
				r4=#{r4},
			</if>
			<if test="r5!=null">
				r5=#{r5},
			</if>
			<if test="r6!=null">
				r6=#{r6},
			</if>
			<if test="r7!=null">
				r7=#{r7},
			</if>
			<if test="r8!=null">
				r8=#{r8},
			</if>
			<if test="r9!=null">
				r9=#{r9},
			</if>
			<if test="r10!=null">
				r10=#{r10},
			</if>
			<if test="r11!=null">
				r11=#{r11},
			</if>
			<if test="r12!=null">
				r12=#{r12},
			</if>
		</set>
		where id=#{id}
	</update>
	
	<delete id="deleteChat" parameterType="publicpojos.Chat">
		delete from t_chat where user_id=#{userId} and target_userid=#{targetUserid}
	</delete>
	
</mapper>